name: library-release CD

on:
  push:
    branches:
      - release/*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish-and-tag:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Append GPG signing key to gradle.properties
        run: |
          echo "" >> ./gradle.properties
          echo '${{ secrets.GPG_SIGNINGS }}' | base64 -d >> ./gradle.properties

      - name: Run unit test
        run: ./gradlew testDebugUnitTest

      - name: Publish and release to MavenCentral
        run: ./gradlew publishAndReleaseToMavenCentral --no-configuration-cache

      - name: Get Project Version
        id: get_version
        run: echo "project_version=$(./gradlew properties --no-daemon --console=plain | grep "^version:" | awk '{print $2}')" >> $GITHUB_OUTPUT

      - name: Create Release Tag
        if: success() && steps.get_version.outputs.project_version != ''
        uses: actions/github-script@v6
        with:
          script: |
            const version = "${{ steps.get_version.outputs.project_version }}";
            const tagName = `v${version}`;
            
            try {
              // Check if the tag already exists
              await github.rest.git.getRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: `tags/${tagName}`
              });
              console.log(`Tag ${tagName} already exists. Skipping tag creation.`);
            } catch (error) {
              // Create new tag if it doesn't exist
              console.log(`Creating tag ${tagName}...`);
              await github.rest.git.createRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: `refs/tags/${tagName}`,
                sha: context.sha
              });
              console.log(`Tag ${tagName} created successfully.`);
            }

      - name: Create GitHub Release
        if: success() && steps.get_version.outputs.project_version != ''
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.get_version.outputs.project_version }}
          name: Release v${{ steps.get_version.outputs.project_version }}
          body: |
            Official release v${{ steps.get_version.outputs.project_version }}.
            (TODO: Add changelog here)
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}